@import url('https://fonts.googleapis.com/css?family=Yantramanav');

body {
  background: #ffffff;
  margin: 0;
}

.app__container {
  font-family: 'Yantramanav Regular', Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
  height: 110vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  color: #000000;
  width: 100%;
}

.header__title {
  font-weight: 100;
  font-size: 10vw;
  letter-spacing: 15px;
  margin: 0;
}

.header__title-space-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__title-spacer {
  height: 5em;
  width: 5em;
  min-width: 5em;
  min-height: 5em;
  background-color: #000000;
  border-radius: 45px 29px 41px 29px;
}

#productSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  flex-direction: column;
}

#productContainer {
  height: 300px;
  width: auto;
}

.productContainer-image {
  min-height: 0 !important;
}

.productContainer-details {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fade-in {
  animation: fadein 2s;
}

.product__image {
  max-width: 100%;
  max-height: 100%;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fade-out {
  animation: fadeout 1s;
  opacity: 0;
}

@keyFrames fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.slide-left {
  transform: translateX(-10%);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
}

.slide-right {
  transform: translateX(50%);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button__section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.generate__product-container {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3em;
}

.product__cta-container {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3em;
  position: relative;
}

.btn-container {
  width: 250px;
  height: 70px;
  position: relative;
  border: 2px solid #000000;
  text-align: center;
}
.btn-container__hidden {
  display: none;
  opacity: 0;
}
.btn-container__visible {
  display: block;
  opacity: 1;
}

.generate__btn-container-loading {
  border: none;
}

.generate__btn {
  font-size: 1.5em;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  left: -12px;
}
.generate__btn:hover {
  color: #ffffff;
  top: 0px;
  left: 0px;
  border: none;
  background-color: #000000;
}

.purchase__btn {
  font-size: 1.5em;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -12px;
}
.purchase__btn:hover {
  color: #ffffff;
  top: 0px;
  right: 0px;
  border: none;
  background-color: #000000;
}

.purchase__btn:hover a {
  color: #ffffff;
}

#purchaseBtn {
  text-decoration: none;
  color: #000000;
  padding: .9em 2.75em;
}
#purchaseBtn:hover {
  color: #ffffff;
}

.product__title-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.product__title {
  display: none;
  opacity: 0;
  transition: all .2s ease;
  width: 50%;
  padding-right: 4em;
  text-align: right;
}

.product__title-visible {
  display: block;
  opacity: 1;
}


.generate__btn-disabled {
  pointer-events: none;
  opacity: 0;
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0 1em;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-device-width: 768px) {
  .header {
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .header__title {
    font-size: 9em;
  }

  .header__text {
    font-size: 1.5em;
  }

  #productSection {
    flex-direction: column;
  }

  .footer p {
    font-size: 16px;
  }
}