@font-face {
  font-family: 'Yantramanav Regular';
  src: url('../Yantramanav-Regular.ttf');
}

body {
  background: #ffffff;
  margin: 0;
}

.app__container {
  font-family: 'Yantramanav Regular', Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
  height: 110vh;
  font-size: 1.625em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  color: #000000;
  width: 100%;
}

.header__img {
  width: 100%;
}

#headerImgResponsive {
  display: none;
}

.header__title {
  font-weight: 100;
  font-size: 10vw;
  letter-spacing: 15px;
  margin: 0;
}

.header__title-space-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__title-spacer {
  height: 5em;
  width: 5em;
  min-width: 5em;
  min-height: 5em;
  background-color: #000000;
  border-radius: 45px 29px 41px 29px;
}

#productSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  flex-direction: column;
}

#productContainer {
  height: 300px;
  width: auto;
  flex-grow: 2;
  display: flex;
  align-items: center;
}

#loadingGif {
  height: inherit;
  width: inherit;
}

.btn-icon {
  height: 0.7em;
  width: auto;
}

.productContainer-image {
  min-height: 0 !important;
}

.productContainer-details {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fade-in {
  animation: fadein 2s;
}
#productLink {
  height: inherit;
  width: inherit;
}
.product__image {
  max-width: 100%;
  max-height: 100%;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fade-out {
  animation: fadeout 1s;
  opacity: 0;
}

@keyFrames fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.button__section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.generate__product-container {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5em;
}

.product__cta-container {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5em;
  position: relative;
}

.btn-container {
  width: 296px;
  height: 80px;
  position: relative;
  border: 2px solid #000000;
  text-align: center;
  background-image: url('../img/buttonTexture-tile.png');
  background-size: contain;
  background-repeat: repeat;
}
.btn-container__hidden {
  display: none;
  opacity: 0;
}
.btn-container__visible {
  display: block;
  opacity: 1;
}

.generate__btn-container-loading {
  border: none;
  background: none;
}

.generate__btn {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  left: -12px;
}
.generate__btn:hover {
  color: #ffffff;
  top: 0px;
  left: 0px;
  border: none;
  background-color: #000000;
}

.generate__btn svg:hover {
  color: #ffffff;
}

.loading__text {
  display: none;
}

.loading__text-visible {
  display: block;
  animation: loadingLoop 1.5s infinite;
}

@keyframes loadingLoop {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.purchase__btn {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: -12px;
}
.purchase__btn:hover {
  color: #ffffff;
  top: 0px;
  right: 0px;
  border: none;
  background-color: #000000;
}

.purchase__btn:hover a {
  color: #ffffff;
}

#purchaseBtn {
  text-decoration: none;
  color: #000000;
  padding: .9em 2.25em;
}
#purchaseBtn:hover {
  color: #ffffff;
}

#purchaseBtn svg:hover {
  color: #ffffff;
}

.product__title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.product__title {
  display: none;
  opacity: 0;
  transition: all .2s ease;
  width: 50%;
  text-align: center;
}

.product__title-visible {
  display: block;
  opacity: 1;
}


.generate__btn-disabled {
  pointer-events: none;
  opacity: 0;
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1vh;
  padding: 0 1em;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-device-width: 768px) {

  #headerImgDesktop {
    display: none;
  }

  #headerImgResponsive {
    display: block;
  }

  .desktop__icon {
    display: none;
  }

  .responsive__icon {
    display: block;
  }

  .header__title {
    font-size: 9em;
  }

  .header__text {
    font-size: 1.5em;
  }

  #productSection {
    flex-direction: column;
  }

  #productContainer {
    height: 500px;
    width: auto;
  }

  .loading__text {
    font-size: 3em;
  }

  .product__title {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }

  .button__section {
    flex-direction: column-reverse;
  }

  .generate__product-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product__cta-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .btn-container {
    width: 100%;
    height: 150px;
    position: relative;
    border: 2px solid #000000;
    text-align: center;
  }

  .purchase__btn {
    font-size: 3.5em;
  }

  .generate__btn-container-loading {
    border: none;
  }

  .generate__btn {
    font-size: 3.5em;
  }

  .footer p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {

  #headerImgDesktop {
    display: none;
  }

  #headerImgResponsive {
    display: block;
  }
}